#include "winver.h"

//
// Version Information resources
//
//LANGUAGE LANG_USER_DEFAULT, SUBLANG_NEUTRAL
1 VERSIONINFO
	FILEVERSION 1,0,0,3
	PRODUCTVERSION 1,0,0,3
	FILEOS VOS_NT_WINDOWS32
	FILETYPE VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "000004E4"
		BEGIN
			VALUE "FileVersion", "1.0.0 build 3"
			VALUE "FileDescription", "Background Copy Notifier"
			VALUE "InternalName", "bcn.dll"
			VALUE "LegalCopyright", "GNU GPL 2009 GrAnD"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0, 0x4e4
	END
END
