[update]
; 0 - manual
; 1 - notify
; 2 - download automatically
Mode=1

; 0 - update only installed plugins
; 1 - update all
Force=0

[connect]
; 0 - direct connect
; 1 - use proxy
proxy=0

; server:port
srv=

;leave empty to use windows settings
user=
pass=

[paths]
align=plugins\editor\align
autowrap=plugins\editor\autowrap
brackets=plugins\editor\brackets
compare=plugins\compare
drawline=plugins\editor\drawline
editcase=plugins\editor\editcase
emenu=plugins\emenu
farcmds=plugins\farcmds
filecase=plugins\filecase
ftp=plugins\ftp
hlfviewer=plugins\hlfviewer
macroview=plugins\macroview
multiarc=plugins\multiarc
network=plugins\network
proclist=plugins\proclist
tmppanel=plugins\tmppanel
fexcept=

[events]
PostInstall=