[update]
; 0 - manual
; 1 - notify
; 2 - download automatically
Mode=1

; Period in hours
Period=6

; 0 - download archives
; 1 - download msi packages
Msi=0

; 0 - leave downloaded packages
; 1 - delete downloaded packages after install
Delete=1

[connect]
; 0 - direct connect
; 1 - use proxy
proxy=0

; server:port
srv=

; leave empty to use windows settings
user=
pass=

[events]
PostInstall=
