#include "./bootstrap/bcversion.h"
#include "winver.h"
1 VERSIONINFO
 FILEVERSION VER_MAJOR,VER_MINOR,VER_BUILD,0
 PRODUCTVERSION VER_MAJOR,VER_MINOR,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004E4"
        BEGIN
            VALUE "Comments", SVC_DISPLAYNAMEA
            VALUE "FileDescription", SVC_DISPLAYNAMEA
            VALUE "FileVersion", VER_ALLSTR
            VALUE "InternalName", SVC_INTERNELNAME
            VALUE "LegalCopyright", COPYRIGHT
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0, 0x4e4
    END
END

1 11 "./bootstrap/bcsvc.msg"
