#include "winver.h"

//
// Version Information resources
//
//LANGUAGE LANG_USER_DEFAULT, SUBLANG_NEUTRAL
1 VERSIONINFO
	FILEVERSION 1,6,0,11
	PRODUCTVERSION 1,6,0,11
	FILEOS VOS_NT_WINDOWS32
	FILETYPE VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "000004E4"
		BEGIN
			VALUE "FileVersion", "1.6.0 build 11"
			VALUE "FileDescription", "Background Copy Indicator"
			VALUE "InternalName", "bci.exe"
			VALUE "LegalCopyright", "GNU GPL (2005) WhiteDragon; (2009) DrKnS, Std, John Doe, GrAnD"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0, 0x4e4
	END
END
