#include <windows.h>
#include "version.hpp"

#define STR2(str) #str
#define STR(str) STR2(str)

1 VERSIONINFO
FILEVERSION PLUGIN_MAJOR, PLUGIN_MINOR, 0, 0
FILEOS 4
FILETYPE 2
{
 BLOCK "StringFileInfo"
 {
  BLOCK "000004E4"
  {
   VALUE "FileDescription", PLUGIN_DESC "\000"
   VALUE "FileVersion", STR(PLUGIN_MAJOR) "." STR(PLUGIN_MINOR) "\000"
   VALUE "InternalName", PLUGIN_NAME "\000"
   VALUE "LegalCopyright", PLUGIN_AUTHOR "\000\000"
   VALUE "OriginalFilename", PLUGIN_FILENAME "\000"
  }
 }
 BLOCK "VarFileInfo"
 {
   VALUE "Translation", 0, 0x4e4
 }
}
