#include <windows.h>

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,2
 PRODUCTVERSION 1,0,3,10
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x9L
#else
 FILEFLAGS 0x8L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "Homepage: http://www.chat.ru/~bmf_asid\0"
            VALUE "CompanyName", "Dennis Trachuk\0"
            VALUE "FileDescription", "TheBat mailbox plugin for MailView\0"
            VALUE "FileVersion", "1.0.0.2\0"
            VALUE "InternalName", "TheBat.mvp\0"
            VALUE "LegalCopyright", "Copyright (c) 2002-2003 Dennis Trachuk <dennis.trachuk@nm.ru>\0"
            VALUE "OriginalFilename", "TheBat.mvp\0"
            VALUE "ProductName", "MailView\0"
            VALUE "ProductVersion", "1.0 beta 3\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
